<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Bookings" path="bookings" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
        {{> ionTab title="Recent" path="recent" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
        {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
      {{/ionTabs}}
  {{/ionBody}}

</template>
