<template name="newBooking">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Bookings" id="bookings-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">New Booking</h2>
        <button type="submit" class="button button-positive button-clear">Post</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name='title'}}
          {{> afQuickField name='description'}}

          {{> afQuickField name='date'}}
          {{> afQuickField name='activity'}}

          {{> afQuickField name='durationInMinutes'}}

          {{> afQuickField name='price'}}

          {{> afQuickField name='maxParticipant'}}

          {{> afQuickField name='city'}}

      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
